*, *::before, *::after{
	box-sizing: inherit;
	box-sizing: border-box;
}
:root{
	--color-card:#2B4259;
	--color-white: #ffffff;
	--color-title: #FF9292;
	--color-footer: #2F303A;
	--color-address: #757575;
	--color-bg:#34495E;
	--font-family: "Roboto", sans-serif ;

}
body{
	background-color: #34495E;
	font-size: 16px;
}
.header{
	padding-top: 24px;
	padding-bottom: 25px;
	background-color: var(--color-bg);
}
.flex-element{
	display: flex;
	align-items: center;
	
	padding:15px 24px 25px;

}
.nav-list{
	display: flex;
	position: fixed;
	background-color: var(--color-bg);
}
.link-logo{

	margin-right: 335px;
}
.logo-title,.logo-title-contacts{
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 1.6em;
	letter-spacing: 0.02em;
	color: var(--color-title);
}
.container{
	width: 1200px;
	height:100%;
	margin: 0 auto;
	outline: 1px dotted tomato
}
.burger-box{
	display: none;
}
.burger-menu{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	float: right;
	cursor: pointer ;
}
.menulogo:not(:last-child){
	margin-bottom: 10px;
}
.menulogo{
	height: 2px;
	width: 25px;
	background-color: snow;
	border-radius: 15px;
}
/*-----------------------------------------*/
.hero-title{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 2.2em;
	letter-spacing: 0.2em;
	text-align: center;
	color: #ffffff;
	margin-bottom: 30px;
}
.pizza-image{
	width: 186px;
	height: 232px;
	border-radius: 9px;
}
.menu-nav{
	font-family: var(--font-family);
	font-weight: 500;
	font-size: .9em;
	letter-spacing: 0.02em;
	color: var(--color-white);
	margin-right: 40px;
}
.menu-nav:not(:last-child){
	margin-right: 40px;
}
.hero{
	padding-top: 94px;
	padding-bottom: 60px;
}
.menu-card-title{
	font-family: var(--font-family);
	font-weight: 500;
	letter-spacing: 0.02em;
	text-align: left;
	color: var(--color-white);
	margin-top: 20px;
}
.menu-text{
font-family: var(--font-family);
font-weight: 300;
font-size: 1em;
letter-spacing: 0.02em;
text-align: left;
color: var(--color-white);
margin-top: 10px;
}
.menu-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}
.card{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--color-card);
	width: 300px;
	height: 420px;
	border-radius: 9px;
	padding-top: 20px;
	/* padding-bottom: 80px; */
}
/* .address{
	margin-top: 20px; 
} */

.informations{
	background-color: var(--color-card);
	padding-top: 44px;
	padding-bottom: 40px;
}
.info-title{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 2.2em;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--color-white);
	margin-bottom: 73px;
}
.flex-info{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.informations-list{
	padding: 0px 100px;
}
.informations-list:not(:last-child){
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
.informations-item{
	font-family: var(--font-family);
	font-weight: 300;
	font-size: .9em;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--color-white);
}
.your-choice{
	padding-top: 78px;
	padding-bottom: 78px;
}
.your-choice-title{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 2.2em;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--color-white);
}
.opening{
	display: flex;
	margin-top: 18px;
}
.opening-item:not(:last-child){
	margin-right: 30px;
}
.opening-item{
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 0.9em;
	letter-spacing: 0.02em;
	color: var(--color-white);
}
.openning-title{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.02em;
	color: var(--color-white);
}
.opening-container{
	text-align: center;
}
.footer-item{
	display: flex;
	justify-content: space-between;
}
/* .address{
	margin-right: 290px;
} */
.address-item,.item-address-tel, .item-address-email:not(:last-child){
	font-family: var(--font-family);
	font-weight: 500;
	font-size: .9em;
	letter-spacing: 0.02em;
	color: var(--color-address);
	/* margin-bottom: 10px; */
}
.item-address-tel, .item-address-email{
	color: var(--color-address);
}
.footer-item{
	display: flex;
	margin-top: 20px;
}
.footer{
	padding-top: 44px;
	padding-bottom: 84px;
	background-color: var(--color-footer);
}

/*--------------------------------------------------------------*/

@media (max-width:1200px){
	body{
		font-size: 14px;
	}
	.container{
		width: 1200px;
	}
	.link-logo{
		margin-right: 260px;
	}
}
@media (max-width:1000px){
	body{
		font-size: 12px;
	}
	.container{
		width: 900px;
	}
	.link-logo{
		margin-right: 250px;
	}
}
@media screen and (max-width: 768px){
	.container{
		width: 700px;
	}
	.link-logo{
		margin-right: 0px;
	}
	.flex-element{
		display: flex;
		justify-content: space-between;
	}
	.burger-box{
		display: block;
	}
	.burder-menu{
		display: flex;
	}
	.nav-list{
		display: flex;
		flex-direction: column;
	}
	.nav{
	width: auto;
    overflow: hidden;
    transition: width 0.5s ease;
	}
	.showmenu{
		transform: translateX(0);

	}
	.nav.showmenu{
		width: 200px;
		background-color: #34495E;
	}
	.nav {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease;
	}
}
@media (max-width:480px){
	.container{
		width: 480px;
	}
	/* .informations-list:not(:last-child){
		display: flex;
		justify-content: space-between;
	} */
	/* .nav{
		width: 0;
    overflow: hidden;
    transition: width 0.5s ease;
		display: flex;
		background-color: deeppink;
		
	}
	.showmenu{
		transform: translateX(0);
	}
	.nav.showmenu{
		width: 500px;
	}
	.nav {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease;
} */
}
@media (max-width:320px){
	.container{
		width: 200px;
	}
}